{% extends 'main.html' %}
{% load static %}

{% block tituloAbstract %} <title>Buscar Informes</title> {% endblock %}

{% block pageHeading %} <h1>Mascotas</h1> {% endblock %}

{% block formularios %}
<h2 style="color: rgba(169, 236, 12, 0.801); background-color: black;">Buscar informes por fecha:</h2>

    <form action="{% url 'buscarInformes' %}" method="GET">

        <input type="date" name="Fecha" id="fecha">

        <input type="submit" value="Buscar">

    </form>

    <div>
        <h3 style="color: red">{{ error }}</h3>
    </div>

    {% if informes %}

    <p>Buscando por fecha: {{ fecha }}</p>

    <ul>
	{% for informe in informes %}
        <li> ID Mascota: {{ informe.id_mascota }} </li>
		<li type="i" value="1"> Fecha: {{ informe.fecha }} </li>		
        <li type="i" value="1"> Reporte: {{ informe.reporte }} </li>
	{% endfor %}

    </ul>

    {% endif %}
{% endblock %}